<div class="row">
  <div class="col-sm-8 ">
    <h2>Редактирование настроек</h2>

    <%= form_for(resource, :as => resource_name,
    :url => registration_path(resource_name),
    :html => { :method => :put, role: "form" }) do |f| %>

      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :email %>
        <div class="row">
          <div class="col-sm-8">
            <%= f.email_field :email, :autofocus => true, class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.label 'Часовой пояс' %>
        <div class="row">
          <div class="col-sm-8">
            <%= f.time_zone_select :time_zone %>
          </div>
        </div>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div class="row">
        <div class="col-sm-8">
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        </div>
      </div>
      <% end %>

      <div class="form-group">
            <%= f.label 'Пароль' %> <i><small>(Оставьте пустым, если не хотите его менять)</small></i>
        <div class="row">
          <div class="col-sm-8">
            <%= f.password_field :password, :autocomplete => "off", class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="form-group">
            <%= f.label 'Подтверждение пароля' %>
        <div class="row">
          <div class="col-sm-8">
            <%= f.password_field :password_confirmation, class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="form-group">
            <%= f.label 'Текущий пароль' %> <i><small>(введите для подтверждения внесенных изменений)</small></i>
        <div class="row">
          <div class="col-sm-8">
            <%= f.password_field :current_password, class: "form-control" %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.label 'Отправлять ежедневные напоминания о записях на почту?' %>
        <div class="row">
          <div class="col-sm-8">
            <%= label :remind_daily, 'Да' %>
            <%= f.radio_button :remind_daily, true %>
            <%= label :remind_daily, 'Нет' %>
            <%= f.radio_button :remind_daily, false %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.label 'Напоминать о подведении итогов недели на почту?' %>
        <div class="row">
          <div class="col-sm-8">
            <%= label :remind_weekly, 'Да' %>
            <%= f.radio_button :remind_weekly, true %>
            <%= label :remind_weekly, 'Нет' %>
            <%= f.radio_button :remind_weekly, false %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.label 'Напоминать о подведении итогов месяца на почту?' %>
        <div class="row">
          <div class="col-sm-8">
            <%= label :remind_monthly, 'Да' %>
            <%= f.radio_button :remind_monthly, true %>
            <%= label :remind_monthly, 'Нет' %>
            <%= f.radio_button :remind_monthly, false %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8">
          <%= f.submit "Сохранить", class: "btn btn-primary" %> - <%= link_to "Отменить", posts_path %>
        </div>
      </div>

      <% end %>
    </div>
  </div>
